*
{
    box-sizing: border-box;
    margin: 0;
  padding: 0;
}
 
body{
    text-align: center;
}

#sec-1 {
    background-image: url('../images/backgrounds/c_image.jpg') ;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 97vh;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0;
  }